* {
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: lightskyblue;
}

.container {
    max-width: 768px;
    margin: 0 auto;
}

.memes {
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

input[type=radio] {
    display: none;
}

.memes__inner {
    width: 30em;
    text-align: center;
    overflow: hidden;
    

}



.memes__list {
    display: flex;

    transition: transform .5s ease-out;
}



.memes__img {
    scroll-snap-align: start;
    width: 30em;
    height: 30em;
    margin-right: 2em;
    background-color: #eee;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.memes__img img {
    width: 70%;
    
}


.memes__bottom {
    display: flex;
    justify-content: space-between;
}


.memes__innerText {
    width: 12.5em;
    text-align: center;
    overflow: hidden;
}

.memes__text {
    display: flex;
    width: 12.5em;


    transition: transform .5s ease-out;
}


.memes__p {
    width: 12.5em;
    flex-shrink: 0;
    margin-right: 2em;
}


.memes__controls {
    display: flex;
}

.memes__ctlwrapper {
    display: block;
    margin: 0.4em;
    

    
    width: 1.5em;
    height: 1.5em;
}

.memes__btn {


    background-color: bisque;

    border-radius: 100%;

    width: 0.5em;
    height: 0.5em;

    transition: background-color .2s ease-out;
}

.memes__ctlwrapper:hover .memes__btn{
    background-color: antiquewhite;
    
}


@media (max-width:768px) {
    .container {
        max-width: 480px;
    }
    .memes__bottom{
        flex-wrap: wrap-reverse;
    }
}

#one:checked~ .memes__inner .memes__list{
    transform: translateX(0%);
}
#two:checked~ .memes__inner .memes__list{
    transform: translateX(-100%);
}
#three:checked~ .memes__inner .memes__list{
    transform: translateX(-200%);
}
#four:checked~ .memes__inner .memes__list{
    transform: translateX(-300%);
}

#one:checked~ .memes__bottom .memes__innerText .memes__text{
    transform: translateX(0%);
}
#two:checked~ .memes__bottom .memes__innerText .memes__text{
    transform: translateX(-100%);
}
#three:checked~ .memes__bottom .memes__innerText .memes__text{
    transform: translateX(-200%);
}
#four:checked~ .memes__bottom .memes__innerText .memes__text{
    transform: translateX(-300%);
}